doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
    title Cashwise OTP
    include _styles

  body
    .container
      .header 
        img(src="https://res.cloudinary.com/dnpjkfrhp/image/upload/t_cashwise_logo_/v1735286122/yxa4x1ctzelivyvdyjto.png", alt="CashWise Logo")
      block content 